.footer {
	background: $footerGradient;
	box-shadow: inset 0px 3px 6px 0px rgba(6, 19, 25, 0.6), inset 0px -3px 6px 0px rgba(6, 19, 25, 0.6);

	&__content {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		align-content: center;
		padding: 1rem 0 1rem 0;
	}

	&__copyright {
		flex-basis: 100%;
		padding: 2rem 0;
	}

	&__contact {
		display: none;
	}

	&__img {
		padding: 0 0.3rem 0.1rem 0.3rem;
		@include box (7rem, 0.7rem);
	}
}


// *** Media Queries ***
@include mq (large) {
	.footer {
		height: auto;

		&__contact {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			align-content: center;
			flex-basis: 25%;
		}

		&__copyright {
			border-left: 1px dashed #0C2530;
			border-right: 1px dashed #0C2530;
			padding: 0;
			flex-basis: 40%;
		}

		&__button {
			flex-basis: 25%;
		}
	}
}

@include mq (xxlarge) {
	.footer {
		&__img {
			padding: 0 0.4rem 0.1rem 0.4rem;
			@include box (10rem, 1rem);
		}
	}
}