$breakpoints: (
//Small devices (landscape phones, 576px and up
	small: (min-width:576px),
// Medium devices (tablets, 768px and up)
	medium: (min-width:768px),
// Large devices (desktops, 992px and up)
	large: (min-width:992px),
// Extra large devices (large desktops, 1200px and up)
	xlarge: (min-width:1366px),
// Extra extra large devices (large desktops, 1920px and up)
	xxlarge: (min-width:1920px),
);