// *** Breakpoints - Media Queries ***

@mixin mq($breakpoint) {
	$size: map-get($breakpoints, $breakpoint);
	@if($size) {
		@media #{$size} {
			@content;
		}
	}
	@else {
		@error '"#{$breakpoint}" - I dont know this value';
	}
}

// *** Box ***

@mixin box($width, $height: $width) {
  	width: $width;
  	height: $height;
}